.build-controls {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    /* background: red; */
    margin: auto;
    padding: 10px 0 30px;
}

.OrderButton {
    background-color: #DB8B2B;
    outline: none;
    cursor: pointer;
    border: none;
    color: #57271B;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 30px;
    box-shadow: #f5d0a3 1px 5px 15px;
    text-transform: uppercase;
    border-radius: 8px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #57271B;
    border: none;
    color: #DB8B2B;
}

.OrderButton:disabled {
    background-color: #ffe8cc;
    cursor: not-allowed;
    border: none;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
