.build-control {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 35px;
    transition: all .35s ease-in-out;
    width: 180px;
    height: 266px;
    background-image: url('../../../../assets/images/ingredients/ingredient-container-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.build-control-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: green;
    z-index: -1;
    box-shadow: 0 6px 40px 15px rgba(95,75,139,0.25)
}

.build-control button {
    display: block;
    font: inherit;
    color: #5F4B8B;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}


.build-control button:disabled {
    color: #ccc;
    cursor: default;
}

.build-control button:hover:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.label {
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.build-control .burger-ingredient {
    margin-bottom: 0;
    max-width: 90%;
    height: 100px;
    width: 100%;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-total {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ECE6FA;
    padding: 2px 0;
    border-radius: 8px;
}

.amount {
    margin: 0;
    background-color: white;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
}