.side-drawer-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.side-drawer {
    left: 0;
    top: 0;
    right: auto;
    bottom: 0; 
    height: 100%;
    width: 280px;
    background-color: white; 
    transform: translateX(-100%);
    transition: .10s transform ease-in;
}

.side-drawer:focus {
    outline: none;
}

.side-drawer.ReactModal__Content--after-open {
    transform: translateX(0); 
}

.side-drawer.ReactModal__Content--before-close {
    transform: translateX(-100%); 
}