.side-drawer {
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.side-drawer__logo {
    height: 50px;
    margin-bottom: 32px;
}

@media (min-width: 500px) {
    .side-drawer {
        display: none;
    }
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%); 
}