.Button {
    background-color: #DB8B2B;
    outline: none;
    cursor: pointer;
    border: none;
    color: #57271B;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.Button.block {
    width: 100%;
    display: block;
}

.Button.plain {
    background-color: transparent;
    border: none;
}

.Button:disabled {
    background-color: #ffe8cc;
    cursor: not-allowed;
    border: none;
    color: #888888;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}