.spinner3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner3 .circle {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0.1rem;
    animation: up 0.3s linear 0s infinite alternate;
}
.spinner3 .circle.one {
    animation-delay: 0s;
}
.spinner3 .circle.two {
    animation-delay: 0.2s;
}
.spinner3 .circle.three {
    animation-delay: 0.4s;
}
@keyframes up {
    from {
        transform: translatey(0.5rem);
    }
    to {
        transform: translatey(0);
    }
}
